* {
    box-sizing: border-box
}
/* custom properties and resets */
:root {
    font-family: 'Dosis', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-body: 1.25rem;

    --bs: 0.25em 0.25em 0.75em #5e6166 /*box shadow, grey */
}

strong {
    font-weight: var(--fw-bold);
}

@media (max-width: 800px){
    :root {
        --fs-h1: 3rem;
        --fs-h2: 2rem;
        --fs-h3: 1.50rem;
        --fs-body: 1rem;
    }
    }

/* page styling */
body {
    background-color: #8ecae6;
    margin: 0;
    font-size: var(--fs-body);
    line-height: 1.4;    
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
    box-shadow: var(--bs);
}

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    font-weight: var(--fw-reg);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
}

h3 {
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
}

/* Intro section styling */

.intro {
    position: relative;
}

.intro_title {
    margin: 0;
}

.intro_title strong {
    display: block;
}

.intro_subtitle {
    margin: 1;
    font-size: var(--fs-h3);
    background-color: #fb8500;
    padding: 0.5rem;
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;

    width: calc(100%)

}

.intro_img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
}


@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title" 
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
}


/* Header section */

nav { 
    display: none;
}

